# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# PyCharm
.idea/

# VS Code
.vscode/

# .pypirc file for PyPI credentials
.pypirc
