# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
egg-info/
.installed.cfg
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# PyCharm
.idea/

# VS Code
.vscode/
